button.jsx-441677069 {
    display: flex;
    background: nne !important;
    border-radius: 0 !important;
    height: 39.5px;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 8px 0px 12px;
    font-size: 14px;
    line-height: 16px;
    border: none !important;
    box-shadow: rgb(213, 221, 229) 0px 0px 0px 1px !important;
}

button.jsx-441677069 svg {
    margin-left: 0 !important;
}

div.jsx-1673646934 {
    box-shadow: none !important;
    background-color: transparent !important;
    margin-top: .7px;
    max-width: 100vw !important;
}