/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
} */

.instructions-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.instructions-box {
    width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.academic-year {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -20px;
    
}
.academic-year .year {
    color: red;
}