.cardContainer {
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 1px #E0E0E0 !important;
    border-radius: 4px !important;
}

.cardHeader {
    width: 100%;
    height: 113px;
    background-color: #FAFAFA;
    display: flex;
    border-radius: 4px !important;
    align-items: center;
    justify-content: center;
}

.cardHeader img {
    width: 72px;
    height: 72px;
}

.jsx-806534464 {
    margin: 0 !important;
}

.cardTitle {
    width: 100%;
    height: 42px;
    display: flex;
    line-height: 160% !important;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-weight: 450;
    font-size: 1rem;
    font-family: 'Roboto';
}

.cardStatistics {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.cardActions {
    height: 45px !important;
    display: flex;
    padding: 0 7px;
    justify-content: flex-end;
    align-items: center;
}

.cardStatisticsHoje {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.80);
}

.cardStatisticsHojeValue {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.80);
}

.cardStatisticsTotalValue {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.80);
}


.cardStatisticsTotal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.80);
}

.PrgStgCard {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center !important;
    height: 76px;
    padding-left:5px;
    padding-right:5px;
    background: #FFF;
    border: 1px dashed #429C40;
    border-radius: 1px;
}

.is-active {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center !important;
    height: 76px;
    border: 1px dashed #429C40;
    border-radius: 1px;
    background: #E8EEE6 !important;
}

.PrgStgCardTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #1E6194;
}

.success {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 5px;
    width: 100% !important;
    height: 81px;
    background: #E8EEE6;
    border: 1px dashed #8EB680;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    cursor: pointer;
    color: inherit !important;
    text-decoration: none !important;
}

.error {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 5px;
    width: 100% !important;
    height: 81px;
    background: #F9DDD4;
    border: 1px dashed #8EB680;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    cursor: pointer;
    color: inherit !important;
    text-decoration: none !important;
}

.warning {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    cursor: pointer;
    gap: 5px;
    width: 100% !important;
    height: 81px;
    background: #F8F8F8;
    border: 1px dashed #D5B237;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    color: inherit !important;
    text-decoration: none !important;
}

.processId {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}

.cardProccessMng {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    position: relative;
    width: 100% !important;
    min-height: 145px;
    background: #E5EEFF;
    border: 1px solid #4D769C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    cursor: pointer;
    color: inherit !important;
    text-decoration: none !important;
}

.mCardprocessId {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}

.orgUnitCard {
    border: 1px solid #C4C4C4;
    z-index: 0;
    box-shadow: 0px 0px 2px 0px #c4c4c4 inset;
    border-radius: 3px;
    background-color: white;
    max-height: 346px !important;
    max-width: 100% !important;
}

.orgUnitCard input {
    border-radius: 0px !important;
    border: none !important;
}

.cardTree {
    max-height: 306px !important;
    overflow-y: auto !important;
    padding: 0.5rem;
}

.buttonContainer{
    position: absolute;
    top:5px;
    right: 5px;
    display: none;
    border: none;
    background-color: rgba(255, 0, 0, 0.2) !important;
    color: red;
}

.cardProccessMng:hover .buttonContainer{
    display: block;
}

.event-active {
    display: -webkit-flex;
    display: flex;
    min-width: 90px !important;
    min-height: 58px !important;
    cursor: pointer;
    opacity: 1;
    margin: 5px 5px 5px 0;
    padding: 15px;
    font-size: 0.6rem;
    border: 2px dotted;
    border-radius: 4px;
    width: auto;
    height: auto;
    overflow: hidden;
    float: left;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #f0dd7f !important;
    color: #000;
}